@value makerGrey, makerShadow, makerPink, makerWhite, makerBlue from '../../common/colors.css';

.list {
  position: relative;
  width: 100%;
  padding: 24px;
}

.table {
  width: 100%;
  text-align: center;
  padding: 3rem 1.5rem;
  background: makerWhite;
  margin-bottom: 1rem;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: makerShadow;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header i {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem !important;
  color: rgb(123, 128, 154);
}

.top i {
  font-weight: 700;
  color: makerBlue;
  margin-top: -4px;
  font-size: inherit !important;
  margin-right: 0.3rem;
}

.title {
  display: block;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(52, 71, 103);
  margin: 0px 0px 0.35em;
}

.subtitle {
  color: rgb(123, 128, 154);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  text-align: left;
}

th {
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.85rem;
  font-weight: 700;
}

tr {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e5e8f5;
}

th,
td {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  height: 50px;
}

td {
  color: rgb(52, 71, 103);
  font-weight: 600;
}

td i {
  margin: 0.5rem;
}

td i:hover {
  cursor: pointer;
  color: makerPink;
}

.thead {
  color: makerGrey;
}

.tbody tr {
  border-bottom: 1px solid #f7f7f8;
}

.profile {
  display: flex;
  width: 85px;
  min-width: 3rem;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
}

img {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.add {
  display: flex;
  justify-content: end;
  font-size: 1.25rem;
}

.add i:hover {
  cursor: pointer;
  color: makerPink;
}
