@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.path {
  min-width: 11rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0.5rem 1rem;
}

.box {
  display: flex;
  padding: 0;
  padding-left: 0.5rem;
  margin: 0;
}

.first {
  font-size: 0.875rem;
  color: #fff;
  opacity: 0.5;
}

.second {
  font-size: 0.875rem;
  color: #fff;
  padding-left: 0.5rem;
  text-transform: capitalize;
}

.second::before {
  content: "/";
  color: #fff;
  float: left;
  padding-right: 0.5rem;
}

.pathtitle {
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
  line-height: 1.625;
  margin: 0;
  padding-left: 0.5rem;
  text-transform: capitalize;
}

.icons {
  width: 16%;
  min-width: 11rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 0.5rem 1rem;
}

.icons i {
  font-weight: 900;
  cursor: pointer;
  padding-right: 0.3rem;
}
