@value mediaQuery from '../../common/size.css';

.maker {
  width: 100%;
  height: 100%;
  /* max-width: 80rem; */
  /* position: relative; */
  padding: 24px;
}

.main {
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
